.article {
    display: flex;
    flex-direction: row;
    margin: 2vw;
    border: 3px solid black;
    flex-basis: 100%;
}

.article-id {
    border-right: 3px solid black;
    flex-basis: 40vw;
    text-align: center
}

.article-title {
    flex-basis: 40vw;
    text-align: center;
    border-right: 3px solid black;
}

.article-body {
    flex-basis: 80vw;
    text-align: center;
    border-right: 3px solid black;
}

.article-buttons {
    display: flex;
    flex-direction: row;
    width: 30vw;
    margin: 1vw;
}